@model IEnumerable<SecuredCRM.Models.ApplicationRole>

@{
    ViewBag.Title = "אינדקס הרשאות";
}
<div class="container" style="background-color:white">
	<h2>@ViewBag.Title</h2>
	<hr />
	<p>
		@Html.ActionLink("צור חדש", "Create")
	</p>
	<table class="table"  >
		<tr>
			<th style="width:10%;text-align:center">
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th style="width:20%;text-align:center">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th style="width:10%;text-align:center">

			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td style="text-align:center">
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td style="text-align:center">
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td style="text-align:center">
					@Html.ActionLink("עריכה", "Edit", new { id = item.Id }) |
					@Html.ActionLink("פרטים", "Details", new { id = item.Id }) |
					@Html.ActionLink("מחיקה", "Delete", new { id = item.Id })
				</td>
			</tr>
		}

	</table>
</div>