@model SecuredCRM.Models.Tigbur

@{
	ViewBag.Title = "יצירת תגבור חדש";

}


<div class="container" style="background-color:white">

	<h2>@ViewBag.Title</h2>
	<hr />
	@using (Html.BeginForm(Html.BeginForm("Insert", "TigburAdmin", FormMethod.Post)))
	{
		@Html.AntiForgeryToken()

	<div class="form-horizontal" style="float:right;direction:rtl;background-color:white">
			<h4>@ViewBag.Title</h4>
			@{
				string Course = TempData.Peek("CourseId").ToString();
				string tutor = TempData.Peek("ApplicationUserId").ToString();
			}
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.TuteeName, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.TuteeName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.TuteeName, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.TuteeEmail, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.TuteeEmail, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.TuteeEmail, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.TuteePhone, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.TuteePhone, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.TuteePhone, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { @class = "form-control", @Value = Course } })
					@Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ApplicationUserId, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ApplicationUserId, new { htmlAttributes = new { @class = "form-control", @Value = tutor, @readonly = "readonly" } })
					@Html.ValidationMessageFor(model => model.ApplicationUserId, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.AssignmentStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.AssignmentStartDate, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.AssignmentStartDate, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.AssignmentEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.AssignmentEndDate, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.AssignmentEndDate, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.AssignmentTotal, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.AssignmentTotal, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.AssignmentTotal, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.AssignmentDone, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.AssignmentDone, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.AssignmentDone, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.AssignmentDoneApproved, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.AssignmentDoneApproved, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.AssignmentDoneApproved, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FollowUp, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<div class="checkbox">
						@Html.EditorFor(model => model.FollowUp)
						@Html.ValidationMessageFor(model => model.FollowUp, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create" class="btn btn-default" />
				</div>
			</div>
		</div>
				}

	<div>
		@Html.ActionLink("בחזרה לעמוד הראשי", "Index")
	</div>
</div>