@model SecuredCRM.Models.ForgotPasswordViewModel
@{
	ViewBag.Title = "שכחתי את הסיסמה";
}
<div class="container-fluid" style="float:right;background-color:white">

	<h2>@ViewBag.Title</h2>
	<hr />

	@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @style = "float:right; direction:rtl" }))
	{
		@Html.AntiForgeryToken()
		<hr />
		<h4>הזן בבקשה את כתובת האימייל הרשומה במערכת</h4>
		@Html.ValidationSummary("", new { @class = "text-danger" })
		<div class="form-group">
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
			</div>
			@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" class="btn btn-default" value="שלח קישור לאימייל" />
			</div>
		</div>
	}
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
