@model SecuredCRM.Models.ResetPasswordViewModel
@{
	ViewBag.Title = "אתחול הסיסמה";
}
<div class="container" style="float:none;background-color:white">
	<h2>@ViewBag.Title</h2>
	<hr />
	@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
	{
		<div class="form-horizontal" role="form">

			@Html.AntiForgeryToken()
			@Html.ValidationSummary("", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.Code)
			<div class="form-group">
				<div class="col-md-10">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				</div>
				@Html.LabelFor(m => m.Email, new { @class = " control-label" })
			</div>
			<div class="form-group">
				<div class="col-md-10">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				</div>
				@Html.LabelFor(m => m.Password, new { @class = " control-label" })
			</div>
			<div class="form-group">
				<div class="col-md-10">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				</div>
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-default" value="אתחול" />
				</div>
			</div>
		</div>
			}
	</div>
	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
